*{
    margin: 0px;
    padding: 0px;
}

/* h1{
    color: red;
}
div{
    color: yellow;
}
#abc{
    color: blue;
    font-size: 150px;
}
.xyz{
    color: blueviolet;
}
.xy{
    font-size: 40px;
}
.pqr{
    color: aqua;
    font-size: 70px;
}
h1,#abc,.pqr,.xy{
    text-decoration: underline;
} */